body {
  background-image: url(images/img-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 300px;
  height: 400px;
  align-content: center;
  margin: 150px auto;
  border-radius: 20px;
  background-color: rgb(83, 65, 65);
  box-shadow: 10px 10px 10px orangered;
}
.calculator {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.display {
  width: 85%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: grey;
  color: white;
  font-size: 20px;
  box-shadow: 5px 5px 20px orangered;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: grey;
  color: white;
  border-radius: 20%;
  box-shadow: 5px 5px 10px orangered;
}
.orange {
  background-color: orangered;
}
